<div class="container" ng-init="init()" ng-show="$root.settings.loadingfinished">
	<div class="row center">
		<div class="col-md-12">
			<h2>{{$root.settings.questionSetName}}</h2>
			<!-- <div ng-repeat="color in newColors track by $index" style="width:100px; height:100px; display: inline-block; margin-right:10px; " ng-style="{'background-color': color}">{{color}}</div>
			<br /> -->
		</div>
	</div>
	<div class="row center" ng-if="currSet.graph">
		<div class="col-md-12 center">
			<div class="chart-container" ng-show="graphData">
				<div class="sibling-setname-div">
					<span ng-repeat="setname in setNames track by $index" class="sibling-setname">{{setname}}</span>
					<md-input-container ng-show="origin_groupKey && groupLikertSettings.showVersion">
						<label>Select Version Group:</label>
						<md-select ng-model="versionIndex" ng-change="changeVersionIndex(versionIndex)">
							<md-option ng-repeat="group in versionGroups track by $index"
								ng-selected="$index == versionIndex" ng-value="$index">{{group.name}}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<canvas id="mychart" basechart="" width="1000px" height="500px"
					style="display: block; width: 1000px; height: 500px;" ng-init="paintgraph()"></canvas>
			</div>
			<hr style="width:80%;" />
		</div>

	</div>
	<div class="row" style="text-align: center;
								font-style: oblique;
								font-weight: bold;
								color: #f75a9a;
								font-size: 1.2em;
								margin-top: 10px;">
		<div class="col-md-12">
			<b>Answer count&emsp;&emsp;</b>
			<span ng-show="groupChoice=='main'">My Group :&emsp;{{classCounts[1]}}&emsp;&emsp;</span>
			<span ng-show="groupLikertSettings.showOther && groupChoice=='all'">All Group :&emsp;{{allCounts[1]}}</span>
		</div>
	</div>
	<div class="row main-other-choice" ng-show="groupLikertSettings.showOther && currSet.compare">
		<md-radio-group ng-model="groupChoice" ng-change="changeGroupChoice()" layout="row">
			<md-radio-button value="main" class="md-primary">This Group</md-radio-button>
			<md-radio-button value="all" class="md-primary">All Groups</md-radio-button>
		</md-radio-group>
	</div>

	<div ng-if="groupLikertSettings.showScore">
		<div class="row" style="margin-top: 50px" ng-if="scoreLabels">
			<div class="col-md-12 feedback-title" ng-if="scoreLabels.length">Your Labels</div>
			<div class="col-md-12" ng-repeat="label in scoreLabels track by $index">
				<div class="feedback-content">
					<b style="color: #ff0315; text-shadow: 1px 1px #f0ff00;">{{label}}</b>
				</div>
			</div>
			<hr />
		</div>
		<div class="row" style="margin-top: 50px">
			<div class="col-md-12 feedback-title">Your scores and feedback</div>
			<div class="col-md-12" ng-repeat="answer in calcValues[0] track by $index">
				<div ng-if="title[$index]" class="feedback-content">
					<b>[{{title[$index].join(" ")}}]</b>&ensp;:&ensp;{{getFeedback(answer,$index )}}
				</div>
			</div>
			<hr />
		</div>
	</div>
	<div class="row" ng-init="$root.getInstFeedback($root.settings.groupKey, $root.settings.questionSetKey)"
		ng-show="$root.settings.instructor_feedback">
		<md-input-container>
			<h4>Instructor Feedback</h4>
			<textarea ng-disabled='true' class="Instructor_view_area">{{$root.settings.instructor_feedback}}</textarea>
		</md-input-container>
	</div>
	<div class="row center" ng-show="currSet.result_string">
		<div class="col-md-12 feedback-title">Result Text</div>
		<div class="col-md-12 feedback-content">
			<textarea ng-disabled="true" style="width:100%;">{{currSet.result_string}}</textarea>
		</div>
		<div class="col-md-12 center">
			<hr />
		</div>
	</div>
	<div class="row center" ng-show="result_videoURL">
		<div id="playerWrapOuter">
			<div id="playerWrap">
				<iframe id="video-iframe" width="420" height="315" src="{{result_videoURL}}" frameborder="0"></iframe>
			</div>
		</div>
		<div class="col-md-12 center">
			<hr />
		</div>
	</div>
	<div class="row additional_info_container" ng-show="additional_info" ng-init="getAddInfo()">
		<div class="col-md-12">
			<md-input-container flex>
				<h3>- Additional Information / Comments</h3>
				<div id="additional_info"></div>
			</md-input-container>
		</div>
	</div>
	<!-- notes for quesiton -->
	<div class="row mb-5" ng-init="$root.getNote($root.settings.questionSetKey)">
		<md-input-container class="mb-0">
			<label>Feedback to Teacher</label>
			<textarea ng-model="$root.teacherNote" class="note-area" ng-change="$root.changeTeacherNote()"></textarea>
		</md-input-container>
		<md-input-container class="mb-0">
			<label>Your Private Note for Question</label>
			<textarea ng-model="$root.privateNote" class="note-area" ng-change="$root.changePrivateNote()"></textarea>
		</md-input-container>
		<md-input-container class="mb-0">
			<label>Your Public Note for Question</label>
			<textarea ng-model="$root.publicNote" class="note-area" ng-change="$root.changePublicNote()"></textarea>
		</md-input-container>
	</div>
	<div class="row" ng-show="$root.allPublicNotes">
		<h4 class="center">Notes from all students</h4>
		<div class="all-notes">
			<md-input-container ng-repeat="note in $root.allPublicNotes track by $index" ng-show="note">
				<textarea class="users-note" ng-model="note" ng-disabled="true"></textarea>
			</md-input-container>
		</div>
	</div>
	<div class="row">
		<md-input-container flex style="text-align:center;">
			<a class="btn btn-link" myclick="$root.back()"
				style="width:150px;font-size: 20px">Back</a>
			<a class="btn btn-link" myclick="$root.go('studentGroupDetail')">Question Sets</a>
		</md-input-container>
	</div>
</div>
<style>
	.chart-container {
		max-width: 1000px;
		margin: 20px auto;
	}

	.feedback-title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		color: #4a4ab6;
	}

	.sibling-setname-div {
		display: inline-block;
		text-align: left;
	}

	.sibling-setname {
		display: block;
		color: #0a0ab4;
		font-weight: bold;
	}
</style>