<div class="main-div" ng-init="init()" ng-show="$root.settings.loadingfinished">

	<div class="row center question-row">
		<label class="qst-title" ng-if='question.title'>{{question.title}}</label>
		<label style="font-size:3vh; font-weight:bold;">{{question.question}}</label>
	</div>

	<hr />
	<div class="row chart-row">
		<div class="chart-container">
			<canvas id="barChart" basechart="" width="600px" height="400px"></canvas>
		</div>
	</div>
	<div class="row" style="text-align: center;
											font-style: oblique;
											font-weight: bold;
											color: #f75a9a;
											font-size: 1.2em;
											margin-top: 10px;">
		<span ng-show="chartDescription">{{chartDescription}}&emsp;(total answers:&emsp;{{numberOfAnswers}})</span>
	</div>

	<div class="row main-other-choice">
		<md-radio-group ng-model="groupChoice" ng-change="changeGroupChoice()" layout="row">
			<md-radio-button value="main" class="md-primary">This Group</md-radio-button>
			<md-radio-button value="other" class="md-primary">Other Groups</md-radio-button>
			<md-radio-button value="all" class="md-primary">All Groups</md-radio-button>
		</md-radio-group>
	</div>

	<div class="row button-row">
		<a class="btn btn-link" myclick="$root.back()">Back</a>
	</div>

</div>


<style>
	.chart-row {
		margin-right: 20px;
	}

	#barChart {
		margin-right: 100px;
	}
</style>