<div class="container" ng-init="init()">
    <div class="answer-form" ng-if="$root.settings.loadingfinished">
        <div class="row question-div center">
            <label class="qst-title" ng-if='question.title'>{{question.title}}</label>
            {{question.question}}
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <label
                        style="margin-left: 20px; color: #a2a2a2;">{{top_answers?'Top ' + top_answers + ' Answers':'All Answers'}}
                    </label>
                    <md-radio-group ng-model="orderBy" ng-change="orderChanged(orderBy)" class="order-radio">
                        <md-radio-button value="rating" class="md-primary">Rating</md-radio-button>
                        <md-radio-button value="awardScore" class="md-primary">Award Score</md-radio-button>
                    </md-radio-group>
                    <label class="order-radio-label">Order By</label>
                    <div class="mid-cell">
                        <div class="answer-div">
                            <div class="answer-list" ng-repeat="item in answers track by $index"
                                ng-class="($index == answerIndex)?'selected':'';" ng-click="changeIndex($index)">
                                {{$index+1}}.&emsp;{{item.answer}}
                                <span class="pull-right">{{orderBy=='rating'?item.totalScore:item.totalAwardScore}}&emsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row starfield-container" ng-show="type">
            <hr />
            <label style="color: #a2a2a2;">Total Scores(&nbsp;{{answers[answerIndex].userCount}}&nbsp;Feedbacks)</label>
            <div class="col-md-12 starfield">
                <div class="row option-row" ng-repeat="option in feedqts track by $index">
                    <div class="col-xs-9  option">
                        {{option}}
                    </div>
                    <div class="col-xs-3  value center">
                        <span>{{answers[answerIndex].resultScore[$index]}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- <hr ng-if="type % 2 == 0" />​ -->
        <div class="row feedText" ng-show="type % 2 == 0">
            <div class="col-md-12">
                <div class="well ">
                    <label style="margin-left: 20px; color: #a2a2a2;">Feedbacks</label>
                    <div class="mid-cell">
                        <div class="answer-div">
                            <div ng-repeat="feed in answers[answerIndex].feedbacktext track by $index">
                                {{$index+1}}.&emsp;{{feed}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <hr /> -->
        <div class="row center navigation-row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-default" myclick="decreaseindex()">&#9664;</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-default" myclick="increaseindex()">&#9654;</button>
            </div>
        </div>
        <div class="row button-row">
            <a class="btn btn-link" myclick="$root.back()">Back</a>
        </div>
    </div>
</div>
<style>
    md-input-container label {
        font-size: 20px;
    }

    .dropDown {
        top: 150px !important;
        border: solid 1px #d1d1d1;
        font-size: 20px !important;
    }

    md-option {
        border-bottom: solid 1px #e7e7e7;
    }

    .question-div {
        font-size: 2em;
        color: #1d22f9;
        border-bottom: solid 1px #00000052;
        padding-bottom: 15px;
        margin-bottom: 15px;
        padding-right: 15%;
        padding-left: 15%;
    }

    .question-div .rating {
        color: black;
        font-size: 0.7em;
    }

    .answer-form {
        margin: 20px auto;
    }

    .title {
        margin-top: 20px;
        color: green;
        padding: 0px 20px;
    }

    .well {
        padding: 20px 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .mid-cell {
        width: 95%;
        margin: auto;
    }

    .answer-div {
        padding: 10px;
    }

    .checked {
        color: orange;
    }

    .navigation-row button {
        width: 80%;
        max-width: 100px;
        color: green;
        margin-bottom: 20px;
    }
</style>