<div class="container" ng-init="init()" ng-show="$root.settings.loadingfinished" style="margin-top:10px; margin-bottom: 40px;">
    <div class="row question-div center">
        <label class="qst-title" ng-if='question.title'>{{question.title}}</label>
        {{question.question}}
        <button class="btn btn-primary pull-right" myclick="showtTextGroupSettingModal()" ng-show="question.questionType == 'Text Type'">
            <md-tooltip class="custom-tooltip no-tail" md-direction="bottom">Text Type Question Group Setting</md-tooltip>
            Group Setting
        </button>
    </div>
    <div class="row button-row mt-3" ng-show="description">
        <div class="col-md-6 col-md-offset-3 center" style="text-align: center; font-size: 1.3em; color: blue;  font-weight: 500;">
            {{description}}
        </div>
        <div class="pull-right main-other-choice">
            <md-radio-group ng-model="groupChoice" ng-change="changeGroupChoice()" layout="row">
                <md-radio-button value="main" class="md-primary">This Group</md-radio-button>
                <md-radio-button value="other" class="md-primary">Other Groups</md-radio-button>
                <md-radio-button value="all" class="md-primary">All Groups</md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <div class="questions-div">
        <div ng-if="!groupSetting.thumbup" ng-repeat="obj in answers |showObject:groupChoice track by $index"
            class="row question-row" style="margin-top:5px;">
            <div class="col-md-12 qtdetails">
                <span class="id-span pull-left">{{obj.show_id}}:</span>
                <span class="answer-span">{{obj.answer}}</span>
                <span class="glyphicon glyphicon-trash pull-right" ng-show="obj.existInGroup" myclick="deleteAnswer(obj)"></span>
            </div>
        </div>
        <div ng-if="groupSetting.thumbup" ng-repeat="obj in answers |showObject:groupChoice| orderBy : ['-order','-likeCount'] track by $index"
            class="row question-row" style="margin-top:5px;">

            <div class="col-md-12 qtdetails">
                <span class="id-span pull-left">{{obj.show_id}}:</span>
                <span class="answer-span">
                    <span class="glyphicon glyphicon-thumbs-up thumb">&emsp;{{obj.likeCount}}</span>
                    <span class="glyphicon glyphicon-thumbs-down thumb">&emsp;{{obj.dislikeCount}}</span>
                    {{obj.answer}}
                </span>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-trash" ng-show="obj.existInGroup" myclick="deleteAnswer(obj)"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-init="$root.getInstFeedback($root.settings.groupKey, $root.settings.selectedQuestionSetKey, $root.settings.selectedQuestionKey)">
        <md-input-container>
            <h4>Instructor Feedback</h4>
            <textarea class="Instructor_view_area" ng-model="$root.settings.instructor_feedback" ng-change="$root.update_instFeedRef($root.settings.groupKey, $root.settings.selectedQuestionSetKey, $root.settings.selectedQuestionKey)"></textarea>
        </md-input-container>
    </div>

    <!-- notes for quesiton -->
    <div class="row mb-5" ng-init="$root.getTeacherNote($root.settings.selectedQuestionKey, true)">
        <div class="row" ng-show="$root.allTeacherNotes">
            <h4 class="center">Feedback from students</h4>
            <div class="all-notes">
                <md-input-container ng-repeat="note in $root.allTeacherNotes track by $index" ng-show="note">
                    <textarea class="users-note" ng-model="note" ng-disabled="true"></textarea>
                </md-input-container>
            </div>
        </div>
        <div class="row" ng-show="$root.allPublicNotes">
            <h4 class="center">Notes from all students</h4>
            <div class="all-notes">
                <md-input-container ng-repeat="note in $root.allPublicNotes track by $index" ng-show="note">
                    <textarea class="users-note" ng-model="note" ng-disabled="true"></textarea>
                </md-input-container>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="textGroupSettingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="exampleModalLongTitle">Text Type Question Group Setting</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-5">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="center mt-0 mb-0">{{currSet.setname}}</h3>
                    </div>
                    <!-- Show Other Group Data in student side -->
                    <div class="col-md-12">
                        <md-input-container class="md-block mb-5">
                            <b class="modal-sub-title">Thumbs up:</b>
                            <md-radio-group ng-model="tempSetting.thumbup" layout="row">
                                <md-radio-button ng-value="true" class="md-primary" style="margin-right:40px;">Enabled</md-radio-button>
                                <md-radio-button ng-value="false" class="md-primary">Disabled</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-input-container class="md-block mb-0">
                            <b class="modal-sub-title">Compare with Other Groups:</b>
                            <md-radio-group ng-model="tempSetting.otherGroup" layout="row">
                                <md-radio-button ng-value="true" class="md-primary" style="margin-right:40px;">Enabled</md-radio-button>
                                <md-radio-button ng-value="false" class="md-primary">Disabled</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" myclick="saveSettings()">Save Change</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    md-input-container {
        margin: 0px 10%;
    }

    .question-div {
        font-size: 2em;
        color: #1d22f9;
        border-bottom: solid 1px #00000052;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .question-div .rating {
        color: black;
        font-size: 0.7em;
    }

    .questions-div {
        max-height: 500px;
        padding: 15px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .question-row {
        display: flex;
    }

    .question-row>div {
        display: table;
        border-radius: 3px;
        height: 10px;
        min-height: 40px;
        overflow: hidden;
        font-weight: bold;
        font-size: 12px;

    }

    .qtdetails {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        padding: 0px 10px;
        line-height: 40px;
    }

    .ans-number {
        text-align: right;
    }

    .qtdetails>div,
    .ans-number>div {
        display: table-cell;
        vertical-align: middle;
    }

    .id-span {
        display: inline-block;
        width: 60px;
        color: #0c2f95;
        font-weight: bold;
    }

    .answer-span {
        display: inline-block;
        width: calc(100% - 90px);
        margin-left: 10px;
    }

    .glyphicon-trash {
        color: red;
        line-height: 40px;
    }

    .button-row .btn {
        margin: 5px 10px 20px;
    }

    .thumb {
        color: #075ad7;
        margin-right: 8px;
    }

    .glyphicon-thumbs-up {
        color: blue;
    }

    .glyphicon-thumbs-down {
        color: red;
        margin-right: 8px;
        font-weight: bold;
    }

    .modal-sub-title {
        color: #040a87;
        border-bottom: solid 2px;
        padding-bottom: 4px;
        margin-bottom: 13px;
        display: inline-block;
    }
</style>