<div class="container" ng-init="init()">
	<div class="answer-form">
		<h4 style="margin-left:30px;">Your Answer</h4>
		<div class="row">
			<div class="col col-sm-12">
				<div class="row well ">
					<div class="answer-div">
						{{$root.settings.prevAnswer}}
					</div>
				</div>
			</div>
		</div>

		<md-progress-linear ng-show="progresskey" md-mode="query"></md-progress-linear>
		<div ng-show="!progresskey">
			<label style="margin-left:30px;">Feedback</label>
			<div class="row center">
				<md-input-container flex>
					<b style="margin-right:20px;">Feedback Type</b>
					<md-radio-group ng-model="userType" ng-change="selectFeedback()">
						<md-radio-button value="student" class="md-primary">Student</md-radio-button>
						<md-radio-button value="teacher" class="md-primary">Teacher</md-radio-button>
					</md-radio-group>
				</md-input-container>
				<div class="col-md-12">
					<b style="margin-right:20px;">Total Score&emsp;&emsp;:&emsp;&emsp;
						<span style="color:red;">{{totalScore}}</span></b>
				</div>
				<div class="col-md-12">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 center" style="margin-bottom:20px;">
					<button class="btn btn-default" style="color:green; width:100px; margin-right:30%; "
						myclick="prevfeedback();">&#9664;</button>
					<button class="btn btn-default" style="color:green; width:100px;" myclick="nextfeedback();">&#9654;</button>
				</div>
			</div>


			<div class="row starfield-container" ng-show="!scalehide && qtype">
				<div class="col-md-12 starfield">
					<div class="row option-row" ng-repeat="option in feedbackquestions track by $index">
						<div class="col-md-6 col-sm-6  col-xs-8  option">
							{{option}}
						</div>
						<div class="col-md-6  col-sm-6 col-xs-4  value center">
							<span>{{Feedbacks[userType][selectedIndex[userType]].score[$index]}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-sm-12" ng-show="!qtype2">
					<div class="row well ">
						<div class="answer-div">{{Feedbacks[userType][selectedIndex[userType]].text}}</div>
					</div>
				</div>
			</div>


			<div class="row" ng-show="question.awardScore && question.awardPeoples">
				<div class="col-md-12">
					<hr />
				</div>
				<label style="margin-left:30px;">
					{{question.isInvestment?'Total Investment Amount':'Total Award Score'}}
				</label>
				<div class="col-md-12">
					<md-input-container flex class="award center">
						<span ng-if="!question.isInvestment">Score</span>
						<span ng-if="question.isInvestment">Amount</span>
						<span> / Users&emsp;:&emsp; {{totalAwardScore}} / {{awardScoreCount}}</span>
					</md-input-container>
				</div>
			</div>
		</div>

		<div class="row button-row">
			<a class="btn btn-link" ui-sref="feedbackAnswer1" ui-sref-active="active">Back</a>
			<a class="btn btn-link" myclick="gotoNext()">Group Results</a>
		</div>
	</div>
</div>

<style>
	md-radio-button {
		display: inline-block;
		margin-right: 30px;
	}

	md-input-container {
		margin: 5px 10%;
	}

	.answer-form hr {
		margin: 10px 5%;
	}

	.answer-div {
		border-bottom: 1px solid green;
		padding: 20px;
	}

	.feed-question {
		color: #0688ce;
		font-weight: bold
	}

	.result-score {
		color: red;
		font-weight: bold
	}

	.checked {
		color: orange;
	}

	.starrow .big {
		font-size: 20px;
	}

	.starrow span {
		margin: 0px 10px;
	}

	.award {
		font-size: 20px;
	}
</style>