<div class="container" ng-init="getTeacherData()" ng-show="$root.settings.loadingfinished">

	<!-- Question string -->
	<div class="row center">
		<div class="col-md-12">
			<h2 ng-if="!editable || !userData.editqst_enabled">{{title}}</h2>
			<input type='text' class="form-control scale-title" ng-if="editable && userData.editqst_enabled" ng-model="title" ng-change="titleChanged(title)">
		</div>
	</div>
	<!-- Question Image -->
	<div class="row">
		<div class="question-content">
			<!-- Question Set name -->
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<label>Question Set: </label>
				</div>
				<div class="col-md-9 col-sm-8 col-xs-12">
					{{$root.settings.questionSetName}}
				</div>
			</div>
			<hr />
			<!-- Operation -->
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<label>Condition</label>
				</div>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div ng-if="label.subscales.length>0">
						<b>IF&emsp;</b>
						<span ng-repeat="subscale in label.subscales track by $index">
							<b ng-if="$index!=0">AND&emsp;</b>
							<br />&emsp;&emsp;{{subscales[subscale.subscaleKey].title}}
							&emsp;{{subscale.operator}}&emsp;
							{{subscale.num}}&emsp;
						</span>
						<br /><b>THEN &emsp;
							<span ng-if="label.title">{{label.title}}</span>
							<span ng-if="!label.title">LABEL</span>
						</b>
					</div>
					<div ng-if="label.subscales.length==0">
						<b>No Condition</b>
					</div>
				</div>
			</div>
			<hr />
		</div>
		<br />
	</div>
</div>
<style>
	.container {
		margin-top: 20px;
		font-size: 1.5em;
	}

	.container .row {
		margin-top: 20px;
	}

	.scale-title {
		font-size: 30px;
		border: none;
		border-bottom: ridge 3px black;
		text-align: center;
		box-shadow: none;
		padding-bottom: 10px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	h2 {
		border-bottom: ridge 3px black;
		padding-bottom: 10px;
		margin-left: 10%;
		margin-right: 10%;
	}
</style>