<div class="container" ng-init="init()">
	<div class="answer-form " ng-if="$root.settings.loadingfinished">
		<div class="row">
			<div class="col-md-12 col-xs-12 title-container">
				<label class="qst-title" ng-if='question.title'>{{question.title}}</label>
				<div class="title">{{question.question}} </div>
			</div>
		</div>
		<div class="row">
			<div class="well">
				<div class="mid-cell">
					<div class="answer-div">
						<div class="answer-list" ng-repeat="item in answers track by $index"
							ng-class="($index == itemIndex)?'selected':'';" ng-click="changeItem($index)">
							<div class="list-num">{{$index+1}}</div>
							<div class="list-body">{{item.itemName}}</div>
							<div class="list-rating">{{item.avRating}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<label style="margin-left:50px;	color: #a2a2a2;">Item Data&emsp;({{answers[itemIndex].itemName}})</label>
			</div>
			<div class="col-md-12 center">
				<label class="left-label">Total score&emsp;:</label>
				<label class="right-label">{{answers[itemIndex].avRating}}</label>
			</div>
			<div class="col-md-12 center">
				<label class="left-label">Feedbacks&emsp;:</label>
				<label class="right-label">{{answers[itemIndex].student.length}}<span>(st)</span>&nbsp;/
					&nbsp;{{answers[itemIndex].teacher.length}} <span>(te)</span></label>
			</div>
			<div class="col-md-12 center" ng-show="isAward">
				<label class="left-label">Award Score&emsp;:</label>
				<label class="right-label">{{answers[itemIndex].awardScore}}<span>(score)</span>&nbsp;/
					&nbsp;{{answers[itemIndex].awardUsers}}<span>(users)</span>&nbsp;</label>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<label style="margin-left:50px;	color: #a2a2a2;">Total Score Setting(%)</label>
			</div>
		</div>
		<div class="row rate-setting">
			<div class="col-md-6">
				<span>Student:</span>
				<md-input-container>
					<input type="number" ng-model="feedbackSetting.studentRate"
						ng-change="changeRate(feedbackSetting.studentRate,'student')" />
				</md-input-container>
			</div>
			<div class="col-md-6">
				<span>Teacher:</span>
				<md-input-container>
					<input type="number" ng-model="feedbackSetting.teacherRate"
						ng-change="changeRate(feedbackSetting.teacherRate,'teacher')" />
				</md-input-container>
			</div>
		</div>

		<!-- teacher score -->

		<div class="row starfield-container" ng-show="type">
			<hr />​
			<div class="col-md-12 starfield">
				<div class="row" ng-repeat="option in options track by $index">
					<div class="col-md-8">
						{{option}}
					</div>
					<div class="col-md-4 starrow center">
						<span class="fa fa-star " ng-repeat="i in [0,1,2,3,4] track by $index"
							ng-class="getStarState(i,$parent.$index)" myclick="setstar(i,$parent.$index)"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-show="type%2==0">
			<hr />
			<md-input-container flex>
				<label>Feedback Text</label>
				<textarea class="feedback-text" ng-model="myFeedback[itemIndex].feedbacktext" rows="3" placeholder=""
					ng-change="saveFeedback()"></textarea>
			</md-input-container>
		</div>
		<div class="row center button-row mt-3">
			<button class="btn btn-info" myclick="decreaseItemIndex()">Prev</button>
			<button class="btn btn-info" myclick="increaseItemIndex()">Next</button>
			<button class="btn btn-primary" myclick="$root.go('teacherRatingResult')">All Feedback</button>
		</div>
	</div>
</div>
<style>
	md-radio-button {
		display: inline-block;
		margin-right: 30px;
	}

	md-input-container {
		margin-bottom: 0px;
	}

	textarea.feedback-text {
		border-radius: 5px;
		height: 150px !important;
		font-size: 18px;
		background-color: #effcfa;
		border: solid 2px #c1ddf5;
		border-bottom: solid 2px #c1ddf5 !important;
		padding: 10px;
		overflow-y: auto;
		color: black !important;
	}

	.answer-form hr {
		margin: 10px 5%;
	}

	.answer-form {
		margin: 20px auto;
	}

	.title-container {
		margin-top: 20px;
		padding: 0px 50px;
	}

	.title {
		color: green;
		max-height: 200px;
		overflow-y: auto;
		padding: 0px !important;
	}

	.well {
		padding: 20px 0px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.mid-cell {
		width: 95%;
		margin: auto;
	}

	.answer-div {
		padding: 10px;
		display: block;
		max-height: 300px;
		overflow-y: auto;
	}

	.checked {
		color: orange;
	}

	.navigation-row button {
		width: 80%;
		max-width: 100px;
		color: green;
		margin-bottom: 20px;
	}

	.checked {
		color: orange;
	}
</style>