<div class="container" ng-init="init()" ng-show="$root.settings.loadingfinished">

	<div class="row title underline ">
		<div class="col-md-12">
			Platform Status
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	<div class="row">
		<div style="width:80%; margin:0px auto;">
			<table class="table table-striped table-bordered table-hover external">
				<thead>
					<th>No</th>
					<th>Fields</th>
					<th>Values</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Number of Teachers</td>
						<td>{{teachersCount}}</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Number of Students</td>
						<td>{{studentsCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<style>
	.title {
		color: #05057b;
		margin-top: 20px;
	}

	/*================= external type styels =================================*/
	table.external {
		width: 100%;
		border-spacing: 0;
		font-size: 14px;
	}

	table.external thead,
	table.external tbody,
	table.external tr,
	table.external th,
	table.external td {
		display: block;
	}

	table.external thead tr {
		/* fallback */
		width: 97%;
		/* minus scroll bar width */
		width: -webkit-calc(100% - 17px);
		width: -moz-calc(100% - 17px);
		width: calc(100% - 17px);
	}

	table.external tr:after {
		/* clearing float */
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
	}

	table.external tbody {
		max-height: 200px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	table.external tbody td,
	table.external thead th {
		float: left;
		text-align: center;
		height: 30px;
	}

	table.external td:nth-child(1),
	table.external th:nth-child(1) {
		width: 10%;
	}

	table.external td:nth-child(2),
	table.external th:nth-child(2) {
		width: 50%;
	}

	table.external td:nth-child(3),
	table.external th:nth-child(3) {
		width: 40%;
	}
</style>