<div class="main-div" ng-init="init()" ng-show="$root.settings.loadingfinished">

	<div class="row">
		<label style="font-size:20px;">Your Answer</label>
		<div style="border-radius:5px;font-size:20px; max-height:200px; overflow-y:auto;" readonly="true">{{myAnswer}}</div>
	</div>

	<div class="row chart-row">
		<div class="chart-container">
			<canvas id="barChart" basechart="" width="600px" height="400px"></canvas>
		</div>
	</div>
	<div class="row" style="text-align: center;
								font-style: oblique;
								font-weight: bold;
								color: #f75a9a;
								font-size: 1.2em;
								margin-top: 10px;">
		<span ng-show="chartDescription">{{chartDescription}}&emsp;(total answers:&emsp;{{numberOfAnswers}})</span>
	</div>
	<div class="row" ng-show="question.enableGroup">
		<md-input-container flex class="mb-0">
			<div class="col-md-4 center" style="line-height: 34px;">
				<strong>Filter By:</strong>
			</div>
			<div class="col-md-8">
				<div class="form-group mb-0">
					<select class="form-control" ng-model="selectedFilter" ng-change="finalCalc()">
						<option ng-repeat="item in filterList track by $index" ng-value="item" ng-selected="item==selectedFilter">{{item}}</option>
					</select>
				</div>
			</div>
		</md-input-container>
	</div>
	<div class="row main-other-choice">
		<md-radio-group ng-model="groupChoice" ng-change="changeGroupChoice()" layout="row">
			<md-radio-button value="main" class="md-primary">This Group</md-radio-button>
			<md-radio-button value="other" class="md-primary">Other Groups</md-radio-button>
			<md-radio-button value="all" class="md-primary">All Groups</md-radio-button>
		</md-radio-group>
	</div>
	<div class="row" ng-init="$root.getInstFeedback($root.settings.groupKey, $root.settings.questionSetKey, $root.settings.questionKey)"
	 ng-show="$root.settings.instructor_feedback">
		<md-input-container>
			<h4>Instructor Feedback</h4>
			<textarea ng-disabled='true' class="Instructor_view_area">{{$root.settings.instructor_feedback}}</textarea>
		</md-input-container>
	</div>
	<div class="row">
		<!-- Result String -->
		<md-input-container flex ng-show="question.result_string">
			<textarea ng-disabled="true" ng-model="question.result_string" style="min-height: 100px;	max-height: 200px; overflow-y: auto; color: black;	
			height: 0px;	border: solid 1px #b8f2f9;	background-color: aliceblue; border-radius: 7px; padding: 10px;"></textarea>
		</md-input-container>
		<!-- upload result image -->
		<md-input-container flex class="center img-row" ng-init="$root.load_result_image()" ng-show="$root.result_imgSrc">
			<img ng-src="{{$root.result_imgSrc}}">
		</md-input-container>
		<!-- result video url -->
		<md-input-container flex ng-show="question.result_videoURL" class="center">
			<div id="playerWrapOuter">
				<div id="playerWrap">
					<iframe id="video-iframe" width="420" height="315" src="{{question.result_videoURL}}" frameborder="0"></iframe>
				</div>
			</div>
		</md-input-container>
	</div>
	<div class="row button-row">
		<a class="btn btn-link" myclick="$root.back()">Back</a>
		<a class="btn btn-link" myclick="$root.go('subQuestions')">Select Question</a>
		<a class="btn btn-link" myclick="$root.goSubmitNextGroupAnswer()" ng-if="!$root.checkLast()">Next Question</a>
		<a class="btn btn-link" myclick="$root.go('studentSubGroupDetail')" ng-if="$root.checkLast() && $root.settings.groupType=='sub'">Question
			Sets</a>
		<a class="btn btn-link" myclick="$root.go('studentSecondGroupDetail')" ng-if="$root.checkLast() && $root.settings.groupType=='second'">Question
			Sets</a>
	</div>
</div>

<style>
	.content {
		width: 100%;
	}

	.main-div>.row {
		width: 100%;
		margin: 20px auto;
	}

	.chart-container {
		width: 600px;
		height: 400px;
		margin: 0px auto;
	}

	/* .chart-row {
		margin-right: 20px;
	} */

	.button-row {
		margin: 10px 10%;
	}

	a {
		width: 100%;
	}

	.checked {
		color: orange;
	}

	/* #pieChart {
		margin-right: 100px;
	} */
</style>